body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    margin-top: 100px;
}

.container {
    background: white;
    padding: 30px;
    width: 300px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

#count {
    font-size: 40px;
    margin: 20px 0;
}

button {
    padding: 10px 15px;
    font-size: 18px;
    margin: 5px;
    cursor: pointer;
}
